# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\35191\Desktop\P1CE_2017017232_RicardoCardoso\P1CE_2017017232_RicardoCardoso\planetbound\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
